<div class="container">

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit about"> 
		<h2>Welcome to Nucleatron!</h2>
		<p>Help extract data from our documents.</p>
		<%= render :partial=>( logged_in? ? 'logged_in_links' : 'login_services' ) %>
	</div>

<% if logged_in? %>
	<!-- list of transcription projects (forms) -->
	<div class="row">
		<div class="span4">

			<!-- for journalists, all Forms with user_id == their id -->
			<!-- for non-journalists, all Responses with user_id == their id, then their Forms sorted by Response count -->
			<h2><%= "made of awesome" %></h2>
			<% Form.find_each.each do |form| %>
				<p> <%= form.to_json.html_safe %> </p>
			<% end %>

		</div>
	</div>
<% end %>

</div>
